<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>Making HTTP Requests</title>
</head>
<body>
    <!-- GET Request -->
    <button type="button" hx-get="http://localhost:1330">
        Make GET Request
    </button>
    <!-- POST request -->
    <button type="button" hx-post="http://localhost:1330/message">
        Make POST Request
    </button>
    <div hx-post="http://localhost:1330/message">
        Make POST Request
    </div>
    <!-- PUT request -->
    <!-- <button type="button" hx-put="http://localhost:1330">
        Make PUT Request
    </button> -->
    <!-- DELETE request -->
    <!-- <button type="button" hx-delete="http://localhost:1330">
        Make DELETE Request
    </button> -->
</body>
</html>