<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>Swap Styles</title>
</head>

<body>
    <!-- http://localhost:1330 -->
    <!-- afterbegin will add it as a the first child-->
    <button hx-post="http://localhost:1330/message" hx-target="#destination" hx-swap="afterbegin">
        Load Content After Begin
    </button>

    <!-- beforeend will add it as the last child-->
    <button hx-post="http://localhost:1330/message" hx-target="#destination" hx-swap="beforeend">
        Load Content Before End
    </button>

    <!-- afterbegin will add it as another parent (before/above the target)-->
    <button hx-post="http://localhost:1330/message" hx-target="#destination" hx-swap="beforebegin">
        Load Content Before Begin
    </button>

    <!-- afterend will add it as another parent (after/below the target)-->
    <button hx-post="http://localhost:1330/message" hx-target="#destination" hx-swap="afterend">
        Load Content After End

    <div id="destinationParent">
        <div id="destination">
            <div id="destinationChild"></div>
        </div>
    </div>
</body>

</html>